.widget-mandrill {
  background-image: url("/assets/mandrill_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
 
 	.updated-at {
    color: rgba(0, 0, 0, 0.3);
  } 
}

.A {
  background-color: rgba(95,237,97,.8);
}

.B {
  background-color: rgba(185,237,95,.8);
}

.C {
  background-color: rgba(237,232,95,.8);
}

.D {
  background-color: rgba(237,175,95,.8);
}

.F {
  background-color: rgba(237,95,95,.8);
}